ul.collapsible-group {
	overflow: hidden;
	/*overflow-y: auto; */
	padding-left: 0;
}

ul.collapsible-group>li {
	display: block;
	list-style: none;
	list-style-type: none;
	/*margin-left: 0px;*/
	padding-left: 10px;
	padding-top: 0;
}

.collapsible-group-title {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 10px;
	/* compensate alignment in the parent "li" by 1/2 of the parent padding: */
	margin-left: -5px;
	padding-top: 0;
	margin-top: 0;
}
.collapsible-group-title:after {
	clear: both;
}

.collapsible-group-title + div{
	display: none;
	max-width: 100%;
	opacity: 0;
	overflow: hidden;
	overflow-y: auto; 
	padding-bottom: 5px;
	-webkit-transition:all .5s ease;  
	-moz-transition:all .5s ease;  
	-o-transition:all .5s ease;  
	transition:all .5s ease;  
}

.slide-inactive .collapsible-group-title{
	cursor: inherit;
}

.collapsible-group-title.opened + div{
	display: inherit;
	opacity: 1;
	height: 100%;
	-webkit-transition:all .5s ease;  
	-moz-transition:all .5s ease;  
	-o-transition:all .5s ease;  
	transition:all .5s ease;  
}

/*icons - font awesome option*/
.collapsible-group-title *.fa.fa-caret-down,
.collapsible-group-title.opened *.fa.fa-caret-up
{
	display: inline-block; 
	position: relative;
	float: right;
}
.collapsible-group-title *.fa.fa-caret-up,
.collapsible-group-title.opened *.fa.fa-caret-down
{display: none;}

.collapsible-group-title>*.ico {
	color: #ffffff;
	background: url(ui-icons_222222_256x240.png) no-repeat;
	background-position: -64px -16px;
	/*background-color: black;*/
	text-align: right;
	/*margin-right: 20px;*/
	/*display: inline-block;*/
/*	width: 16px;
	height: 16px;
*/	position: relative;
	float: right;

/*	margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	font-family: 'Glyphicons Halflings';
	content: '\270f...';
	color: #333333;
*/

}

.collapsible-group-title.opened>*.ico {
	background-position: 0px -16px;  
}

