/* RESPONSIVE GRID and OBJECTS*/
/* responsive images*/

/*responsive stub like in Bootstrap*/
.slide img {
    max-width: 100%;
    height: auto; 
    display: block;
}

* {box-sizing: border-box;}
*::before, *::after {box-sizing: border-box;}

/*  SECTIONS  */
.grid-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {clear:both;}
.group {zoom:1; /* For IE 6/7 */}

/*  GRID OF THREE  */
.span_3_of_3 {width: 100%;}
.span_2_of_3 {width: 66.1%;}
.span_1_of_3 {width: 32.2%;}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 768px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.col {
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow: hidden;
}

/*  GRID OF TWO  */
.span_2_of_2 {width: 100%;}
.span_1_of_2 {width: 49.2%;}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 768px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
