

/* Slide show*/

/* redefinition of slideshow behavior */
div.lSSlideWrapper {
	max-width: 100%;
	left: 0;
	padding-left: 25%;
}
.lSPrev, .lSNext {
	text-align: center;
}

/* slide object */
.slide {
	dispay: block;
	min-height: 400px;
	padding-left: 30px;
	padding-right: 30px;
}

*.slide.active {
	padding-left: 0;
	padding-right: 0;
}

/*shade inactive slides*/
.slide.inactive * {
	opacity: 0.8;
}

.slide.inactive div.col.span_1_of_2 {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

/* hide story on inactive slide */
.slide.inactive .story>div.col {
	display: none;
}
/* hide numbering on inacive slides*/
.slide.inactive .grid-section.group.slide-numbering {opacity: 0;}

/*.slide article>div {
	display: inherit;
}
*/
/* SLIDE ELEMENTS*/
.slide {
	font-size: 14px;
}

.slide-numbering>.col {
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 12px;
}

.slide-content>.col {
	margin-top: -5px;
}

.slide h1 {
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0px;
	font-size: 18px;
}

.slide h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.slide h3 {
	font-size: 13px;
}

.slide header h1,
.slide header h2,
.slide header h3 {
	display: inline-block;
	height: 28px;
}

.slide header a {
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

.slideset-ctrl {
	font-size: 50px;
}

.slide *.image > *.image-panel,
.slide *.story > *.article-panel {
	position: relative;
	/*min-height: 350px;*/
	padding-top: 10px;
}

.slide .image {
	vertical-align: middle;
}

.slide *.image *.logo {
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.slide.active *.image *.logo {
	display: block;
}

/*.slide *.story > *.article-panel {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
*/

.slide *.story header>div,
.slide *.story *.summary>div,
.slide *.story *.tip>div {
	display: block;
	/*position: relative;*/
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

.slide *.story header>div>*,
.slide *.story *.summary>div>*,
.slide *.story *.tip>div>* {
	display: block;
	position: relative;
	/*position: relative;*/
}

.slide .author > div {
	font-style: normal;
	text-align: center;
	white-space: nowrap;
/*	display: block;
	position: absolute;
	bottom: 0;
*/	height: 25px;
	line-height: 25px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
/*	.slide .author>div {
		position: absolute;
		display: block;
		float: none;
		bottom: 10px;
	}
*/}

.slide .author address {
	font-style: normal;
}

.slide .collapsible-group li > div {
	padding-top: 0;
	padding-bottom: 10px;
}

/*detail button*/

.btn-details span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
}

.btn-details *.fa {
	padding-top: 5px;
}

.btn-details {
	display: none;
	width: 100%;

	height: 35px;
	line-height: 35px;
	vertical-align: middle;

	margin-left: -10px;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #222222;
	background-color: white;
	padding: 0px 10px;

	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}



.btn-details *.fa {
	font-size: 18px;
	line-height: 18px;
	float: right;
}

.slide.inactive *.btn-details {display: none;}

@media only screen and (max-width: 480px) {
	.slide.inactive .image > div.col {
		margin: 1%;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {

	.slide {
		max-width: 400px;
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: middle;
	}

	.slide.inactive .slide-content {
		margin-left: 20px;
		margin-right: 20px;
	}

	.slide.active .slide-numbering {
		margin-left: -20%;
		margin-right: -20%;
		width: 140%;
	}
	.slide.active .slide-numbering * {
		padding-left: 0px;		
	}

	.slide.active *.image > .image-panel,
	.slide.active *.story > .article-panel {
		background-color: white;
		margin-left: -20%;
		margin-right: -20%;
		width: 140%;
		display: block;
		position:relative;
		float:right;

		/* placeholder for ".btn-details": */
		/*padding-bottom: 34px;*/
	}


	.slide.active *.image > .image-panel {
		/*padding-bottom: 34px;*/
	}

	.slide.active *.story > .article-panel {display: none;}
	.slide.active *.story.on-popup > .article-panel {display: block;}

	.slide ul.collapsible-group {
		overflow: hidden;
		overflow-y: auto; 
		padding-left: 0;
	}

	.slide ul.collapsible-group>li {
		background-color: transparent; 
		border: none;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0px;
	}

	.slide.active .btn-details {display: block;}

/*	.collapsible-group {
		display: block;
		height: 100%;
	}
*/
	.collapsible-group-title + div{
		overflow: hidden;
	}

}





/*tooltip for link/bookmark*/
/*a:hover {
  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0; 
  top: 100%;
  white-space: nowrap; 
  z-index: 20px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);  
}*/