/*screen-modes indicators*/

#screen-mode-tn,
#screen-mode-xs,
#screen-mode-sm,
#screen-mode-md,
#screen-mode-lg {display: none}

/* less than 480*/
@media only screen and (max-width: 479px) {#screen-mode-tn {display: block;}}
/* -xs: 480...767*/
@media only screen and (min-width: 480px) and (max-width: 767px) {#screen-mode-xs {display: block;}}
/* -sm: 768...991*/
@media only screen and (min-width: 768px) and (max-width: 991px) {#screen-mode-sm {display: block;}}
/* -md: 992...1199*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {#screen-mode-md {display: block;}}
/* -lg: from 1200 and up*/
@media only screen and (min-width: 1200px) {#screen-mode-lg {display: block;}}

