/*@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Muli|Varela+Round|Questrial|Oswald|Fjalla+One);

body {
	font-family: 'Source Sans Pro', 'Muli', 'Varela Round', 'Questrial', 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {padding: 20px;}

.slide h1,
.slide h2,
.slide h3,
.slide .btn-details
{
	font-family: 'Oswald', 'Fjalla One', sans-serif;
	/*font-weight: bold;*/
}

.slide h2,
.slide h3,
.slide .btn-details
{
	text-transform: uppercase;
}

/*"bookmark" icon, address link*/
.slide header a, .slide address a {
	color: rgb(40,​ 96,​ 144); 
	text-decoration: none; 
	text-decoration-color: rgb(40,​ 96,​ 144);
}
header a:hover, address a:hover {color: #ffffff;}

header a:before {content: '';}
header a:after {content: '';}


.slide, .lSSlideWrapper .lightSlider {
	color: white;
	background-color: #111111;
	border: none;
}

/*.collapsible-group-title*/
.slide .collapsible-group li {
	color: black;
	background-color: white;
	border-radius: 3px;
}

.slide .collapsible-group li * {
	background: transparent;
}

.slide .collapsible-group li > div {
	/* compensate border-radius for scrollbar */
	padding-bottom: 3px;	
}

.lSAction > a {
	background: none;
}
.slideset-ctrl {
	color: white;
}

.btn-details {
	/*background: #f0ad4e;*/
	color: #000000;
	/*border: 1px solid #eea236;*/
 }

.btn-details:hover {
	color: #999999;
}

.slide address>div {
	background-color: transparent;
}

.slide *.image *.logo {
	font-size: 12px;
	color: white;
	background-color: #000000;
	opacity: 0.7;
	border-radius: 3px;
}

@media only screen and (max-width: 768px) {
	.slide.active *.story.on-popup * {color: black;} 
	.slide.active .slide-content article.story > div.col {background-color: rgba(255,255,255,0.8);}
	.slide.active address>div {
		background-color: #111111;
	}
}

